USE [master]
GO
/****** Object:  Database [OKB]    Script Date: 08/15/2017 14:48:16 ******/
CREATE DATABASE [OKB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OKB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\OKB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OKB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\OKB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OKB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OKB]
GO
USE [OKB]
GO
/****** Object:  User [test]    Script Date: 08/15/2017 14:48:17 ******/
CREATE USER [test] FOR LOGIN [test] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [PiyushSharma]    Script Date: 08/15/2017 14:48:17 ******/
CREATE USER [PiyushSharma] FOR LOGIN [PiyushSharma] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Piyush]    Script Date: 08/15/2017 14:48:17 ******/
CREATE USER [Piyush] FOR LOGIN [Piyush] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Becon]    Script Date: 08/15/2017 14:48:17 ******/
CREATE USER [Becon] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[city]    Script Date: 08/15/2017 14:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 08/15/2017 14:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationId] [int] NULL,
	[LocationName] [varchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Login]    Script Date: 08/15/2017 14:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [varchar](30) NULL,
	[Password] [varchar](30) NULL,
	[IsActive] [bit] NULL,
	[RoleId] [int] NULL,
	[FirstName] [varchar](20) NULL,
	[LastName] [varchar](20) NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Registration]    Script Date: 08/15/2017 14:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[Name] [varchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Password] [varchar](20) NULL,
	[ConfirmPassword] [varchar](50) NULL,
	[Mobile] [int] NULL,
	[Address] [varchar](max) NULL,
	[Gender] [varchar](10) NULL,
	[UserId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 08/15/2017 14:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([UserID], [UserEmail], [Password], [IsActive], [RoleId], [FirstName], [LastName]) VALUES (1, N'piyush@gmail.com', N'Test@1234', 1, 1, N'Piyush', N'Sharma')
INSERT [dbo].[Login] ([UserID], [UserEmail], [Password], [IsActive], [RoleId], [FirstName], [LastName]) VALUES (2, N'Vipin@gmail.com', N'Test@1234', 1, 2, N'Vipin', N'Mishra')
SET IDENTITY_INSERT [dbo].[Login] OFF
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([Name], [UserName], [Email], [Password], [ConfirmPassword], [Mobile], [Address], [Gender], [UserId]) VALUES (N'Piyush', N'Piyush Sharma', N'Piyush@gmail.com', N'Piyush', N'Piyush', NULL, N'Shahdara', N'Male', 1)
INSERT [dbo].[Registration] ([Name], [UserName], [Email], [Password], [ConfirmPassword], [Mobile], [Address], [Gender], [UserId]) VALUES (N'Sachin', N'Sachin Sharma', N'Sachin@gmail.com', N'Sachin', N'Sachin', NULL, N'Shahdara Teela Shahbazpur', N'Male', 2)
SET IDENTITY_INSERT [dbo].[Registration] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[Role] OFF
USE [master]
GO
